:root{
    --color-green-top : #1CD1B0;
    --color-text-top: #000000;
    --color-blue-document: #00669F;
    --color-background-nav: #001D2D;
    --color-text-header: #FFFFFF;
    --color-background-cards: #F3F3F3;
    --color-title-cards: #000000;
    --color-text-cards: #333333;
    --color-text-ver-mas: #F3F3F3;
    --color-text-footer: #FFF9F9;
    --color-text-resetear: #888888;


    
}